*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-image: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.4)),
     url('/assets/luke-chesser-pJadQetzTkI-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center ;
    background-size:cover;
    /* height: 100vh; */

} 

nav{
   
  
   
}
ul{
    display: flex;
    justify-content: right;
    align-items: center;
    
    height: 4rem; 
    
    /* background-color: red; */
}

ul li {
    list-style: none;
    padding: 2rem 1rem 2rem;
 
    
}


li a {
    text-decoration: none;
    color:#6B663F;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
    color: #fff;

}

li a:hover{
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}
main{
    display: flex;
    margin-left: 4rem;
    margin-top: 3rem;
    position: relative;
}
main img{
    border-radius: 12rem;
}
.description{
    margin-top: 2rem;
    margin-left:5rem;
    
}
main h1,main h3{

font-family: poppins;
color: #fff;
letter-spacing: 0.1rem;
line-height: 3rem;
}

.social-media{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    background: linear-gradient(rgb(51,39,117,0.2),rgb(47,167,186,0.4));
    height: 10rem;
    position: fixed;
    right: 0;
    top:10rem;
    border-radius: 0.5rem;
}
iconify-icon{
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.3rem;
    text-align: center;

}