*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    
    height: 100vh;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}
.container{
    overflow-y: scroll;
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    
    /* width: 100%; */
    height: 100%;
}
nav{
position: fixed;
z-index: 1;;
right: 2rem;
top:0.2rem;

}

ul{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 4rem; 
    
}

ul li {
    list-style: none;
    padding: 2rem 1rem 2rem;
 
    
}


li a {
    text-decoration: none;
    color:#6B663F;
    /* font-family: 'Poppins', sans-serif; */
    font-size: 1.2rem;
    cursor: pointer;
    color: rgb(22, 21, 21);

}

li a:hover{
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}
#home{
    /* display: flex;
    align-items: center;
    justify-content: space-evenly; */
    /* height: 100vh; */
    position: relative;
    left: 3rem;
    background-color: blue;
    
}
#home img{
    border-radius: 12rem;
}
.description{
    margin-top: 2rem;
    margin-left:5rem;
    
}
#home h1,#home h3{

font-family: poppins;
color: rgb(32, 30, 30);
letter-spacing: 0.1rem;
line-height: 3rem;
}

.social-media {
    /* color: rgb(27, 25, 25); */
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    height: 10rem;
    position: fixed;
    right: 0.8rem;
    top:10rem;
    border-radius: 0.5rem;
    align-items: center;
    
}


iconify-icon{
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.3rem;
    text-align: center;
    color: rgb(0, 0, 0);
}
#my-work p{
    text-align: center;
    margin-bottom: 4rem;
    font-size: 1.5rem;
    font-weight: 900;
   }
#my-work img{
 width: 26rem;
 height: 20rem;
}
.blog-links{
    display: flex;
    justify-content: space-evenly;
}
.blog-links img:hover{
    opacity:0.6;
}
section{
   
    /* width: 100%; */
    height: 100vh;
    /* scroll-snap-align: center; */
}
